@model BookingsViewModel

@* All Events *@
@if (Model.BookedEvents.Any())
{
    <div class="grid md:grid-cols-2 xl:grid-cols-3 gap-2 mb-6">
        @foreach (var booking in Model.BookedEvents)
        {
            var venueResource = Model.EventResources.GetValueOrDefault(booking.EventId, null);

            string? fullAddress = venueResource!.ResourceVenue.AddressLine1 + ", " + (venueResource.ResourceVenue.AddressLine2
            != null
            ? venueResource!.ResourceVenue.AddressLine2 + ", " : "") + venueResource!.ResourceVenue.CityMunicipality + ", " +
            venueResource!.ResourceVenue.Province;

            var venueImage = Model.BookingImages.GetValueOrDefault(booking.EventId, "");

            @* 1 Card per Event: Clickable *@
            <div x-on:click="viewBookingModal = !viewBookingModal" hx-get="/attendee/view-booking/@booking.Id"
                hx-target="#viewBookingModalContent" hx-swap="innerHTML"
                class="cursor-pointer flex flex-col items-center gap-4 w-full p-2 rounded-lg border-2 border-zinc-300 hover:border-coffee-300 bg-white hover:bg-coffee-50 duration-200 ease-in-out group">

                @* Resource Image *@
                <span class="flex items-center justify-center w-full h-52">
                    <img class="object-cover w-full h-52 rounded-md" src="/resources/@venueImage" alt="Venue spot">
                </span>

                @* Body *@
                <div class="flex flex-col justify-between gap-2 px-4 w-full">

                    <div class="flex items-center justify-between gap-2">
                        @* Event Name *@
                        <span class="flex items-center gap-1 text-base font-medium text-coffee-900">
                            <svg class="size-6" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" viewBox="0 0 256 256"><path d="M208,32H184V24a8,8,0,0,0-16,0v8H88V24a8,8,0,0,0-16,0v8H48A16,16,0,0,0,32,48V208a16,16,0,0,0,16,16H208a16,16,0,0,0,16-16V48A16,16,0,0,0,208,32ZM72,48v8a8,8,0,0,0,16,0V48h80v8a8,8,0,0,0,16,0V48h24V80H48V48ZM208,208H48V96H208V208Zm-38.34-85.66a8,8,0,0,1,0,11.32l-48,48a8,8,0,0,1-11.32,0l-24-24a8,8,0,0,1,11.32-11.32L116,164.69l42.34-42.35A8,8,0,0,1,169.66,122.34Z"></path></svg>
                            @booking.Event.ShortName
                        </span>
                        
                        @* Total Amount *@
                        <span class="duration-200 ease-in-out text-sm font-medium px-2 py-1 rounded-md bg-zinc-100 text-zinc-500 group-hover:bg-coffee-100 group-hover:text-coffee-500">
                            ₱@booking.Event.EntryFee.ToString("N2")
                        </span>
                    </div>

                    @* Statuses *@
                    <div class="flex items-center justify-between gap-2 font-semibold text-xs">
                        @if (booking.Event.Status == EventStatus.Open)
                        {
                            <span class="bg-blue-100 text-blue-500 rounded-md px-2 py-1">
                                OPEN
                            </span>
                        }
                        else if (booking.Event.Status == EventStatus.Ongoing)
                        {
                            <span class="bg-green-100 text-green-500 rounded-md px-2 py-1">
                                ONGOING
                            </span>
                        }
                        else if (booking.Event.Status == EventStatus.Postponed)
                        {
                            <span class="bg-orange-100 text-orange-500 rounded-md px-2 py-1">
                                POSTPONED
                            </span>
                        }
                        else if (booking.Event.Status == EventStatus.Completed)
                        {
                            <span class="bg-indigo-100 text-indigo-500 rounded-md px-2 py-1">
                                COMPLETED
                            </span>
                        }
                        else if (booking.Event.Status == EventStatus.Cancelled)
                        {
                            <span class="bg-red-100 text-red-500 rounded-md px-3 py-1">
                                CANCELLED
                            </span>
                        }

                        @* StartAt Date *@
                        <span
                            class="duration-200 ease-in-out flex items-center justify-center px-2 py-1 rounded-md font-normal text-xs gap-1 bg-zinc-100 group-hover:bg-coffee-100 text-zinc-500 group-hover:text-coffee-500">
                            <svg class="size-4" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" viewBox="0 0 256 256"><path d="M136,80v43.47l36.12,21.67a8,8,0,0,1-8.24,13.72l-40-24A8,8,0,0,1,120,128V80a8,8,0,0,1,16,0Zm-8-48A95.44,95.44,0,0,0,60.08,60.15C52.81,67.51,46.35,74.59,40,82V64a8,8,0,0,0-16,0v40a8,8,0,0,0,8,8H72a8,8,0,0,0,0-16H49c7.15-8.42,14.27-16.35,22.39-24.57a80,80,0,1,1,1.66,114.75,8,8,0,1,0-11,11.64A96,96,0,1,0,128,32Z"></path></svg>

                            @booking.Event.StartAt.ToString("MMM dd (hh:mm tt)") - @booking.Event.EndAt.ToString("MMM dd (hh:mm tt)")
                        </span>
                    </div>

                    <div class="flex items-center justify-start text-xs">
                        @* Full Address *@
                        <span
                            class="duration-200 ease-in-out flex items-center w-full gap-2 px-2 py-1 rounded-md bg-zinc-100 group-hover:bg-coffee-100 text-zinc-500 group-hover:text-coffee-500">
                            <span class="size-4">
                                <svg class="size-4 me-2" xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                                    fill="currentColor" viewBox="0 0 256 256">
                                    <path
                                        d="M112,80a16,16,0,1,1,16,16A16,16,0,0,1,112,80ZM64,80a64,64,0,0,1,128,0c0,59.95-57.58,93.54-60,94.95a8,8,0,0,1-7.94,0C121.58,173.54,64,140,64,80Zm16,0c0,42.2,35.84,70.21,48,78.5,12.15-8.28,48-36.3,48-78.5a48,48,0,0,0-96,0Zm122.77,67.63a8,8,0,0,0-5.54,15C213.74,168.74,224,176.92,224,184c0,13.36-36.52,32-96,32s-96-18.64-96-32c0-7.08,10.26-15.26,26.77-21.36a8,8,0,0,0-5.54-15C29.22,156.49,16,169.41,16,184c0,31.18,57.71,48,112,48s112-16.82,112-48C240,169.41,226.78,156.49,202.77,147.63Z">
                                    </path>
                                </svg>
                            </span>
                            <span class="line-clamp-2 overflow-hidden text-ellipsis">
                                @fullAddress
                            </span>
                        </span>
                    </div>

                </div>

            </div>

            @* Status *@

        }
    </div>
}
else
{
    @* Shows when there's no currently opened event *@
    <div class="flex flex-col items-center justify-center size-full font-medium text-coffee-600">
        <svg class="size-24" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="400" height="400" viewBox="0, 0, 400,400"><g><path d="M76.517 26.787 C 61.886 31.775,51.351 42.975,47.639 57.489 C 46.273 62.831,46.094 66.163,46.098 86.258 C 46.105 123.806,45.687 123.394,83.789 123.420 L 108.594 123.438 108.594 243.975 L 108.594 364.513 110.352 367.992 C 112.844 372.925,116.288 375.000,121.984 375.000 L 126.550 375.000 136.517 367.437 C 141.999 363.277,148.770 358.070,151.563 355.865 C 154.355 353.660,157.048 351.613,157.545 351.317 C 158.066 351.007,164.518 355.475,172.779 361.867 C 195.668 379.577,194.043 379.549,215.938 362.599 C 226.457 354.457,231.642 350.897,232.275 351.384 C 232.786 351.776,239.355 356.842,246.875 362.643 C 269.041 379.742,267.022 379.795,290.620 361.481 C 297.283 356.310,303.159 351.756,303.677 351.362 C 304.327 350.868,309.062 354.114,318.912 361.806 C 335.993 375.144,336.235 375.279,342.253 374.844 C 347.436 374.469,350.830 372.083,352.831 367.408 C 354.836 362.721,354.385 65.404,352.361 57.489 C 348.528 42.502,337.085 30.759,321.929 26.260 C 318.106 25.125,305.992 25.002,199.663 25.020 L 81.641 25.040 76.517 26.787 M99.071 52.658 C 107.005 56.761,108.584 61.601,108.589 81.836 L 108.594 97.656 90.234 97.656 L 71.875 97.656 71.875 81.927 C 71.875 64.342,72.351 61.707,76.376 57.005 C 81.963 50.477,91.370 48.676,99.071 52.658 M198.777 86.700 C 200.668 87.620,207.951 94.253,216.781 103.099 L 231.609 117.953 247.640 102.027 C 262.254 87.509,263.966 86.053,266.994 85.559 C 276.288 84.046,283.866 94.473,279.476 102.734 C 278.791 104.023,271.534 111.747,263.350 119.898 L 248.470 134.718 263.993 150.367 C 283.033 169.563,284.639 173.330,277.023 180.946 C 269.811 188.158,265.914 186.438,247.061 167.727 L 231.216 152.002 215.803 167.370 C 207.326 175.822,199.401 183.106,198.191 183.556 C 190.453 186.437,182.031 180.839,182.031 172.814 C 182.031 167.856,182.373 167.410,199.099 150.586 L 214.438 135.156 199.513 120.117 C 182.429 102.902,182.031 102.395,182.031 97.834 C 182.031 88.583,190.739 82.793,198.777 86.700 M291.391 228.712 C 300.200 233.138,300.214 245.341,291.415 249.805 L 287.950 251.563 231.450 251.563 C 185.212 251.563,174.493 251.367,172.436 250.487 C 162.947 246.427,162.199 233.109,171.210 228.669 C 175.339 226.635,287.336 226.675,291.391 228.712 M292.327 271.709 C 300.241 276.630,299.726 288.276,291.405 292.579 C 287.376 294.662,173.957 294.299,170.501 292.192 C 161.974 286.993,163.576 273.140,173.027 270.350 C 174.338 269.963,200.790 269.712,232.422 269.787 L 289.453 269.922 292.327 271.709 " stroke="none" fill="currentColor" fill-rule="evenodd"></path></g></svg>
        <p class="text-base mt-4">Empty bookings.</p>
        <p class="text-sm text-coffee-500">Try availing one of the events from the Events page</p>
    </div>
}