@model CheckoutViewModel

<header class="flex items-center justify-end text-lg font-medium py-3 px-4">
    <button x-on:click="checkoutModal = false"
        class="flex items-center justify-center size-8 p-1 rounded-md text-coffee-500 hover:bg-coffee-100 active:bg-coffee-200 hover:text-coffee-700 active:text-coffee-900 duration-200 ease-in-out">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" viewBox="0 0 256 256">
            <path
                d="M205.66,194.34a8,8,0,0,1-11.32,11.32L128,139.31,61.66,205.66a8,8,0,0,1-11.32-11.32L116.69,128,50.34,61.66A8,8,0,0,1,61.66,50.34L128,116.69l66.34-66.35a8,8,0,0,1,11.32,11.32L139.31,128Z">
            </path>
        </svg>
    </button>
</header>

<main class="grid grid-cols-2">

    @* Payment Information *@
    <div>
        <form hx-post="/attendee/create-payment-intent" hx-target="#payment-result" hx-swap="innerHTML">
            <label>Amount (₱)</label>
            <input x-mask:dynamic="$money($input)" name="amount" step="1" required />

            <button type="submit">Pay</button>
        </form>

        <span class="flex items-center justify-start gap-2">
            <span class="whitespace-nowrap text-sm font-medium text-zinc-500">
                Powered by
            </span>
            <svg class="size-14 text-[#6860FF]" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" width="400" height="166.66666666666669"
                viewBox="0, 0, 400,166.66666666666669">
                <g>
                    <path
                        d="M209.333 1.316 C 206.125 2.011,200.088 3.298,195.917 4.176 L 188.333 5.773 188.333 17.220 C 188.333 26.160,188.425 28.665,188.750 28.657 C 188.979 28.652,195.317 27.327,202.833 25.713 L 216.500 22.779 216.588 11.389 L 216.675 0.000 215.921 0.026 C 215.506 0.040,212.542 0.621,209.333 1.316 M89.427 15.611 L 76.021 18.488 75.927 62.994 C 75.876 87.472,75.938 108.889,76.067 110.586 C 76.969 122.510,84.396 131.585,96.234 135.230 C 102.836 137.263,117.622 136.117,123.417 133.123 L 124.333 132.650 124.333 121.286 L 124.333 109.922 123.583 110.089 C 123.171 110.181,121.858 110.536,120.667 110.877 C 115.523 112.352,109.140 111.533,106.560 109.065 C 103.349 105.995,103.342 105.933,103.337 81.583 L 103.333 60.667 113.833 60.667 L 124.333 60.667 124.333 48.833 L 124.333 37.000 113.833 37.000 L 103.333 37.000 103.333 24.833 C 103.333 18.142,103.221 12.682,103.083 12.700 C 102.946 12.718,96.801 14.028,89.427 15.611 M30.333 35.359 C 11.118 37.796,-0.019 49.224,0.006 66.478 C 0.026 80.596,6.512 87.455,27.000 95.024 C 39.032 99.469,42.010 101.588,41.995 105.696 C 41.963 114.200,24.723 114.162,6.167 105.617 C 3.783 104.519,1.646 103.541,1.417 103.442 C 1.087 103.300,1.000 106.061,1.000 116.627 L 1.000 129.991 2.250 130.528 C 10.423 134.038,22.018 136.333,31.571 136.333 C 56.271 136.333,71.338 123.710,70.560 103.667 C 69.983 88.810,63.316 81.940,42.331 74.579 C 30.518 70.436,28.025 68.658,28.410 64.654 C 29.096 57.518,46.277 57.710,61.963 65.029 C 63.501 65.746,64.888 66.333,65.046 66.333 C 65.204 66.333,65.333 60.428,65.333 53.211 L 65.333 40.089 62.917 39.237 C 56.994 37.149,53.028 36.231,46.750 35.497 C 42.252 34.970,33.948 34.901,30.333 35.359 M268.500 35.473 C 263.588 36.427,258.073 39.042,254.271 42.219 L 252.850 43.406 252.175 40.120 L 251.500 36.833 239.083 36.746 L 226.667 36.659 226.667 101.685 C 226.667 163.455,226.696 166.703,227.250 166.549 C 227.571 166.459,233.758 165.150,241.000 163.639 C 248.242 162.129,254.314 160.762,254.495 160.602 C 254.696 160.423,254.889 154.395,254.995 144.985 L 255.167 129.660 256.950 130.861 C 277.939 145.002,304.083 131.598,310.643 103.333 C 319.663 64.477,298.081 29.725,268.500 35.473 M353.621 35.357 C 331.608 38.591,317.333 58.491,317.333 85.946 C 317.333 110.422,327.656 127.410,346.333 133.671 C 359.449 138.068,378.906 136.662,391.667 130.395 L 394.167 129.167 394.254 117.877 C 394.337 107.221,394.309 106.597,393.754 106.772 C 393.431 106.874,391.696 107.564,389.898 108.306 C 377.945 113.242,362.316 114.031,354.500 110.093 C 349.958 107.804,346.661 103.002,345.800 97.417 L 345.581 96.000 372.791 96.000 L 400.000 96.000 400.000 87.864 C 400.000 51.904,381.737 31.228,353.621 35.357 M170.439 36.145 C 166.129 37.129,162.633 39.351,160.203 42.654 L 158.777 44.590 158.006 40.795 L 157.236 37.000 144.951 37.000 L 132.667 37.000 132.667 85.667 L 132.667 134.333 146.833 134.333 L 161.000 134.333 161.000 101.345 L 161.000 68.357 162.015 67.201 C 166.059 62.594,174.281 60.600,181.250 62.536 L 182.000 62.744 182.000 49.745 L 182.000 36.746 180.417 36.342 C 177.939 35.710,172.793 35.608,170.439 36.145 M188.556 36.889 C 188.433 37.011,188.333 58.986,188.333 85.722 L 188.333 134.333 202.500 134.333 L 216.667 134.333 216.667 85.500 L 216.667 36.667 202.722 36.667 C 195.053 36.667,188.678 36.767,188.556 36.889 M365.173 59.127 C 369.770 61.231,372.771 66.315,373.510 73.250 L 373.732 75.333 359.533 75.333 L 345.333 75.333 345.339 73.917 C 345.385 62.593,355.792 54.832,365.173 59.127 M273.422 61.313 C 288.469 68.768,288.506 103.053,273.474 110.164 C 268.671 112.437,261.592 111.565,257.036 108.141 L 255.067 106.661 254.932 86.080 L 254.797 65.500 255.725 64.491 C 259.636 60.240,268.165 58.708,273.422 61.313 "
                        stroke="none" fill="currentColor" fill-rule="evenodd"></path>
                </g>
            </svg>
        </span>
    </div>

    @* Payment Intent *@
    <div>
        <div id="payment-result"></div>
    </div>
</main>