<div class="grid grid-cols-2 w-full px-4 py-2 bg-white text-zinc-500 border-b-2 border-zinc-100">

    @* Col 1 *@
    <span class="flex items-center justify-start gap-2">

    </span>

    @* Col 2 *@
    <div x-data="{open: false}" class="flex items-center justify-end gap-2">

        <span class="relative">
            <button x-on:click="open = !open;" type="menu" class="rounded-full border-b-2 border-zinc-100">
                <img class="size-10 object-cover rounded-full pointer-events-none" src="~/images/avatar.jpg"
                    alt="User's Avatar">
            </button>

            <div x-cloak x-show="open" x-on:click.outside="open = false"
                class="absolute flex flex-col items-center gap-3 text-sm end-0 top-full mt-2 bg-white rounded-lg border-2 border-zinc-300 ">
                <button
                    class="first:rounded-t-md last:rounded-b-md duration-200 ease-in-out flex items-center w-full px-3 py-1.5 text-sm hover:bg-coffee-700 active:bg-coffee-900 text-coffee-900 hover:text-coffee-50 active:text-coffee-50">Create</button>
                <button
                    class="first:rounded-t-md last:rounded-b-md duration-200 ease-in-out flex items-center w-full px-3 py-1.5 text-sm hover:bg-coffee-700 active:bg-coffee-900 text-coffee-900 hover:text-coffee-50 active:text-coffee-50">Retrieve</button>
                <button
                    class="first:rounded-t-md last:rounded-b-md duration-200 ease-in-out flex items-center w-full px-3 py-1.5 text-sm hover:bg-coffee-700 active:bg-coffee-900 text-coffee-900 hover:text-coffee-50 active:text-coffee-50">Update</button>
                <button
                    class="first:rounded-t-md last:rounded-b-md duration-200 ease-in-out flex items-center w-full px-3 py-1.5 text-sm hover:bg-coffee-700 active:bg-coffee-900 text-coffee-900 hover:text-coffee-50 active:text-coffee-50">Delete</button>
            </div>
        </span>
    </div>
</div>