@model ViewEventViewModel

<div x-cloak x-show="viewEventModal" x-transition.opacity
    class="fixed inset-0 flex justify-center items-start bg-black/50 backdrop-blur-sm overflow-y-auto scrollbar-thin scrollbar-track-transparent scrollbar-thumb-coffee-700 z-50 p-4">
    @* White Box *@
    <div id="viewEventModalContent" x-data x-trap.noscroll="viewEventModal" @@keydown.escape="viewEventModal = false;"
        @@close-view-event-modal="viewEventModal = false;" class="bg-coffee-50 rounded-lg shadow-lg min-w-[45rem] max-w-[45rem]">
        
         @* The Partials will be swapped here *@
         @await Html.PartialAsync("~/Views/Attendee/Partials/_ViewEventPartial.cshtml", Model);

    </div>
</div>