@model LoginViewModel;
@inject SignInManager<User> SignInManager;

@{
    ViewData["Title"] = "Login to Schedify";
}

<div class="bg-coffee-950 min-h-screen flex items-center justify-center">

    @* White Box *@
    <div class="bg-coffee-50 grid rounded-2xl shadow-xl ">

        <div class="flex flex-col w-full items-center justify-center px-8 py-5">
            @* Application Name and Catchphrase *@
            <div class="flex flex-col items-center justify-center gap-3 mt-2 mb-8">
                <div class="flex items-center justify-center w-[60%]">
                    <img class="w-full drop-shadow" src="~/images/logo_landscape.png" alt="Schedify Logo">
                </div>
                <p class="select-none flex items-center justify-center text-sm text-coffee-500 bg-coffee-50">The
                    All-in-One Hub for Events & Engagement</p>
            </div>

            @* Email & Password *@
            <form hx-post="/auth/login" hx-swap="none" method="post" class="flex flex-col w-full gap-4 px-4">
                @Html.AntiForgeryToken()

                <div class="relative flex flex-col w-full gap-6 border border-coffee-300 rounded-lg p-6">
                    <span
                        class="select-none flex items-center justify-center gap-2 absolute start-4 -top-3 px-2 font-medium text-sm text-pumpkin-600 bg-coffee-50">
                        Login with your credentials</span>
                    <div class="relative">
                        <span class="gap-2 relative flex items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                                class="start-0 ms-2 size-5 text-coffee-500 absolute">
                                <path fill-rule="evenodd"
                                    d="M7.5 6a4.5 4.5 0 1 1 9 0 4.5 4.5 0 0 1-9 0ZM3.751 20.105a8.25 8.25 0 0 1 16.498 0 .75.75 0 0 1-.437.695A18.683 18.683 0 0 1 12 22.5c-2.786 0-5.433-.608-7.812-1.7a.75.75 0 0 1-.437-.695Z"
                                    clip-rule="evenodd" />
                            </svg>
                            <input type="email" autocomplete="off" id="email" name="email"
                                class="input-coffee ps-8 py-2 focus:ring-2 focus:ring-offset-2 focus:ring-coffee-500"
                                placeholder="Email">
                        </span>

                        <div id="validation-Email"></div>
                    </div>

                    <div class="relative">
                        <span class="gap-2 relative flex items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                                class="start-0 ms-2 size-5 text-coffee-500 absolute">
                                <path fill-rule="evenodd"
                                    d="M12 1.5a5.25 5.25 0 0 0-5.25 5.25v3a3 3 0 0 0-3 3v6.75a3 3 0 0 0 3 3h10.5a3 3 0 0 0 3-3v-6.75a3 3 0 0 0-3-3v-3c0-2.9-2.35-5.25-5.25-5.25Zm3.75 8.25v-3a3.75 3.75 0 1 0-7.5 0v3h7.5Z"
                                    clip-rule="evenodd" />
                            </svg>
                            <input type="password" autocomplete="off" id="password" name="password"
                                class="input-coffee ps-8 py-2 focus:ring-2 focus:ring-offset-2 focus:ring-coffee-500"
                                placeholder="Password">
                        </span>

                        <div id="validation-Password"></div>
                    </div>
                </div>
                @* Sign In Button *@
                <div class="flex flex-col">
                    <button type="submit"
                        class="button-coffee gap-2 py-2 focus:ring-2 focus:ring-offset-2 focus:ring-coffee-500">
                        <span>SIGN IN</span>

                        <svg xmlns="http://www.w3.org/2000/svg" class="size-5"
                            xmlns:xlink="http://www.w3.org/1999/xlink" width="400" height="400" viewBox="0, 0, 400,400">
                            <g>
                                <path
                                    d="M295.703 104.354 C 288.091 108.313,284.738 117.130,287.918 124.830 C 288.731 126.797,298.250 136.876,317.407 156.055 L 345.695 184.375 178.190 184.375 L 10.684 184.375 7.316 186.349 C -2.632 192.179,-2.632 207.821,7.316 213.651 L 10.684 215.625 178.190 215.625 L 345.695 215.625 317.407 243.945 C 287.868 273.517,286.719 274.922,286.719 281.450 C 286.719 291.748,296.214 298.639,307.490 296.523 C 310.798 295.903,394.561 214.221,398.124 208.143 C 400.760 203.645,400.760 196.355,398.123 191.857 C 395.754 187.814,311.819 104.984,309.009 103.915 C 305.871 102.722,298.364 102.970,295.703 104.354 "
                                    stroke="none" fill="currentColor" fill-rule="evenodd"></path>
                            </g>
                        </svg>

                        <svg class="htmx-indicator size-5 animate-spin" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 100 100" preserveAspectRatio="xMidYMid"
                            xmlns:xlink="http://www.w3.org/1999/xlink">
                            <g>
                                <circle stroke-dasharray="164.93361431346415 56.97787143782138" r="35" stroke-width="10"
                                    stroke="currentColor" fill="none" cy="50" cx="50" transform="matrix(1,0,0,1,0,0)">
                                </circle>
                                <g></g>
                            </g>
                        </svg>
                    </button>
                </div>

                @* Register *@
                <div class="flex items-center justify-center mt-2 gap-2 text-sm">
                    <span class="text-coffee-700">
                        Not yet registered?
                    </span>
                    <a href="/register"
                        class="text-pumpkin-500 hover:text-pumpkin-600 active:text-pumpkin-700 font-semibold underline underline-offset-4">
                        Register here
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>