@{
    ViewData["Title"] = "Activity Logs";
}

<partial name="~/Views/Admin/Partials/_SidebarPartial.cshtml" />

<div x-data="{viewEventModal: false, createEventModal: false}" class="min-h-screen bg-coffee-950 ms-[250px]">
    <header></header>

    <main class="p-4 flex items-center justify-center">
        <img class="size-[90%]" src="~/images/dashboard_placeholder.png" alt="">
    </main>
</div>