@{
    ViewData["Title"] = "Dashboard";
}

<partial name="~/Views/Admin/Partials/_SidebarPartial.cshtml" />

<div x-data="{viewEventModal: false, createEventModal: false}" class="min-h-screen bg-charcoal-950 ms-[250px]">

    <header class="">

        @* Sub Header (My Events, Date Range, Filter, & Create New Event Button) *@
        <div class="flex items-center w-full p-4 border-b-2 gap-3 border-charcoal-900">

            <div class="flex items-center gap-3">
                <span class="flex items-center justify-center bg-coffee-600 text-coffee-50 p-1 size-8 rounded-lg">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                        viewBox="0 0 256 256">
                        <path
                            d="M104,40H56A16,16,0,0,0,40,56v48a16,16,0,0,0,16,16h48a16,16,0,0,0,16-16V56A16,16,0,0,0,104,40Zm0,64H56V56h48v48Zm96-64H152a16,16,0,0,0-16,16v48a16,16,0,0,0,16,16h48a16,16,0,0,0,16-16V56A16,16,0,0,0,200,40Zm0,64H152V56h48v48Zm-96,32H56a16,16,0,0,0-16,16v48a16,16,0,0,0,16,16h48a16,16,0,0,0,16-16V152A16,16,0,0,0,104,136Zm0,64H56V152h48v48Zm96-64H152a16,16,0,0,0-16,16v48a16,16,0,0,0,16,16h48a16,16,0,0,0,16-16V152A16,16,0,0,0,200,136Zm0,64H152V152h48v48Z">
                        </path>
                    </svg>
                </span>
                <h2 class="font-semibold text-2xl text-charcoal-100">Dashboard</h2>
            </div>

            @* Date Range & Filter *@
            <div class="flex items-center gap-3">
                <span class="relative">
                    <svg class="absolute top-1/2 -translate-y-1/2 end-2 size-5 pointer-events-none text-charcoal-600"
                        xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                        viewBox="0 0 256 256">
                        <path
                            d="M208,32H184V24a8,8,0,0,0-16,0v8H88V24a8,8,0,0,0-16,0v8H48A16,16,0,0,0,32,48V208a16,16,0,0,0,16,16H208a16,16,0,0,0,16-16V48A16,16,0,0,0,208,32ZM72,48v8a8,8,0,0,0,16,0V48h80v8a8,8,0,0,0,16,0V48h24V80H48V48ZM208,208H48V96H208V208Z">
                        </path>
                    </svg>
                    <input type="text"
                        class="peer duration-200 ease-in-out appearance-none w-36 text-sm outline-none px-3 py-1 rounded-md border-2 focus:ring-0 bg-charcoal-900 border-charcoal-700 focus:border-charcoal-600 text-charcoal-700 focus:text-charcoal-600 selection:text-charcoal-50 selection:bg-charcoal-700 placeholder-charcoal-500"
                        id="startDate" placeholder="Start date">
                </span>

                <span class="relative">
                    <svg class="absolute top-1/2 -translate-y-1/2 end-2 size-5 pointer-events-none text-charcoal-600"
                        xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                        viewBox="0 0 256 256">
                        <path
                            d="M208,32H184V24a8,8,0,0,0-16,0v8H88V24a8,8,0,0,0-16,0v8H48A16,16,0,0,0,32,48V208a16,16,0,0,0,16,16H208a16,16,0,0,0,16-16V48A16,16,0,0,0,208,32ZM72,48v8a8,8,0,0,0,16,0V48h80v8a8,8,0,0,0,16,0V48h24V80H48V48ZM208,208H48V96H208V208Z">
                        </path>
                    </svg>
                    <input type="text"
                        class="peer duration-200 ease-in-out appearance-none w-36 text-sm outline-none px-3 py-1 rounded-md border-2 focus:ring-0 bg-charcoal-900 border-charcoal-700 focus:border-charcoal-600 text-charcoal-700 focus:text-charcoal-600 selection:text-charcoal-50 selection:bg-charcoal-700 placeholder-charcoal-500"
                        id="endDate" placeholder="End date">
                </span>

                <div x-data="{open: false}" class="relative">
                    <button type="menu" x-on:click="open = !open"
                        class="flex items-center gap-2 duration-200 ease-in-out appearance-none text-sm outline-none px-3 py-1 rounded-md focus:outline-none text-pumpkin-50 bg-pumpkin-600 hover:bg-pumpkin-700 active:bg-pumpkin-900">
                        <svg class="size-5" xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                            fill="currentColor" viewBox="0 0 256 256">
                            <path
                                d="M40,88H73a32,32,0,0,0,62,0h81a8,8,0,0,0,0-16H135a32,32,0,0,0-62,0H40a8,8,0,0,0,0,16Zm64-24A16,16,0,1,1,88,80,16,16,0,0,1,104,64ZM216,168H199a32,32,0,0,0-62,0H40a8,8,0,0,0,0,16h97a32,32,0,0,0,62,0h17a8,8,0,0,0,0-16Zm-48,24a16,16,0,1,1,16-16A16,16,0,0,1,168,192Z">
                            </path>
                        </svg>
                        Filter
                    </button>

                    <div x-cloak x-show="open" x-on:click.outside="open = false"
                        class="absolute start-0 top-full flex flex-col justify-center bg-white border-2 mt-2 border-zinc-300 rounded-md">
                        <button
                            class="first:rounded-t-md last:rounded-b-md duration-200 ease-in-out flex items-center w-full px-3 py-1.5 text-sm hover:bg-coffee-700 active:bg-coffee-900 text-coffee-900 hover:text-coffee-50 active:text-coffee-50">Create</button>
                        <button
                            class="first:rounded-t-md last:rounded-b-md duration-200 ease-in-out flex items-center w-full px-3 py-1.5 text-sm hover:bg-coffee-700 active:bg-coffee-900 text-coffee-900 hover:text-coffee-50 active:text-coffee-50">Retrieve</button>
                        <button
                            class="first:rounded-t-md last:rounded-b-md duration-200 ease-in-out flex items-center w-full px-3 py-1.5 text-sm hover:bg-coffee-700 active:bg-coffee-900 text-coffee-900 hover:text-coffee-50 active:text-coffee-50">Update</button>
                        <button
                            class="first:rounded-t-md last:rounded-b-md duration-200 ease-in-out flex items-center w-full px-3 py-1.5 text-sm hover:bg-coffee-700 active:bg-coffee-900 text-coffee-900 hover:text-coffee-50 active:text-coffee-50">Delete</button>
                    </div>
                </div>
            </div>

            <div class="flex flex-1 items-center justify-end">
                @* <span class="relative">
                    <input type="text" autocomplete="off"
                        class="peer duration-200 ease-in-out appearance-none w-56 text-sm outline-none ps-8 pe-3 py-1 rounded-md border-2 focus:ring-0 bg-coffee-900 border-coffee-700 focus:border-pumpkin-600 text-coffee-700 focus:text-pumpkin-600 selection:text-pumpkin-50 selection:bg-pumpkin-700 placeholder-coffee-500"
                        id="search-bar" placeholder="Search">
                    <svg class="absolute top-1/2 -translate-y-1/2 start-2 size-5 pointer-events-none peer-placeholder-shown:text-coffee-500 peer-focus:text-pumpkin-600"
                        xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                        viewBox="0 0 256 256">
                        <path
                            d="M229.66,218.34l-50.07-50.06a88.11,88.11,0,1,0-11.31,11.31l50.06,50.07a8,8,0,0,0,11.32-11.32ZM40,112a72,72,0,1,1,72,72A72.08,72.08,0,0,1,40,112Z">
                        </path>
                    </svg>
                </span> *@
            </div>
        </div>


    </header>

    <main class="p-4 flex items-center justify-center">
        <img class="size-[90%]" src="~/images/dashboard_placeholder.png" alt="">
    </main>
</div>