


@{
    ViewData["Title"] = "Profile";
}

<partial name="~/Views/Admin/Partials/_SidebarPartial.cshtml" />

<div x-data="{viewEventModal: false, createEventModal: false}" class="min-h-screen bg-coffee-950 ms-[250px]">


</div>