@model Microsoft.AspNetCore.Mvc.ModelBinding.ModelStateDictionary

@foreach (var entry in Model)
{
	if (entry.Value.Errors.Count > 0) // Correct way to check for errors
	{
		<div id="validation-@entry.Key" hx-swap-oob="true" class="absolute start-0 top-full text-xs font-normal text-red-500 ">
			@entry.Value.Errors[0].ErrorMessage
		</div>
	}
}