@model ChatViewModel

@* Card Format Conversations *@
<div id="conversation-cards" hx-swap-oob="outerHTML" class="relative overflow-y-auto h-[85vh] scrollbar-thin scrollbar-track-coffee-50 scrollbar-thumb-coffee-700 pe-2">

    @foreach (var conversation in Model.Conversations)
    {
        var eventImage = Model.EventImages.GetValueOrDefault(conversation.EventId, "");

        @* Conversation Card *@
        <button type="button"
            class="duration-200 ease-in-out bg-transparent hover:bg-coffee-50 flex items-center w-full rounded-lg">
            <div class="flex shrink items-center justify-center p-2 rounded-full">
                <img class="object-cover size-12 rounded-full" src="/resources/@eventImage" alt="Event Image">
            </div>

            <div class="flex flex-col grow items-start justify-start">
                <span class="font-semibold truncate w-[300px] text-coffee-900">
                    @conversation.Title
                </span>
                <div class="flex items-center gap-2">
                    <span class="text-xs truncate w-[300px] text-charcoal-600">Geryson: Wala pa baya ko naka uli sa
                        balay kay dsadsadssda</span>
                    <span class="text-xs">3h</span>
                </div>
            </div>
        </button>
    }
</div>