@{
    ViewData["Title"] = "Feedbacks";
}


<partial name="~/Views/Organizer/Partials/_SidebarPartial.cshtml" />


<div class="min-h-screen bg-[#F9FBFA] ms-[250px]">

    <header class="flex flex-col items-center w-full">

        @* Main Header (Search & Avatar) *@
        <partial name="~/Views/Organizer/Partials/_TopbarPartial.cshtml" />

    </header>

    <main class="">

    </main>
    
</div>