@{
    ViewData["Title"] = "Resources";
}

<partial name="~/Views/Organizer/Partials/_Sidebar.cshtml" />

<div class="p-4 min-h-screen bg-coffee-200 ms-16">

    <header class="flex items-center w-full mb-4">
        <span class="font-semibold text-2xl text-coffee-900">
            Resources
        </span>
    </header>

    <main class="grid grid-cols-3 gap-4 h-full">
        <div class="flex flex-col col-span-2 rounded-md bg-white">
            a
        </div>

        <div class="flex flex-col rounded-md bg-white">
            a
        </div>
    </main>
</div>