@{
    ViewData["Title"] = "Schedify | All-In-One Events Hub";
}

<partial name="~/Views/Home/Partials/_LoginPartial.cshtml"></partial>

<main class="bg-coffee-950 text-coffee-50">
    <h1 class="">Schedify</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

</main>

<footer class="">

</footer>
