@{
    ViewData["Title"] = "Schedify · All-In-One Events Hub";
}

<div class="bg-coffee-950">
    <header class="sticky top-0 z-10 py-4 px-10">
        <partial name="~/Views/Home/Partials/_LoginPartial.cshtml" />
    </header>

    @* BG Pattern *@
    <section class="relative grid grid-cols-2 bg-coffee-950 text-coffee-50 px-20 pt-10 pb-20 h-[85vh]">
        <div class="flex flex-col items-center justify-center">
            <h1 class="select-none text-6xl font-semibold text-left z-10 leading-tight">
                The all-in-one hub for
                events and engagement
            </h1>
        </div>

        <div class="flex flex-col items-center justify-center">
            <div
                class="relative flex items-center justify-center overflow-hidden rounded-full bg-coffee-600 size-[450px] text-coffee-50 p-20 shadow-2xl">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="400"
                    height="400" viewBox="0, 0, 400,400">
                    <g>
                        <path
                            d="M47.063 7.027 C 42.930 9.547,41.413 12.826,41.409 19.243 L 41.406 24.814 34.136 25.132 C 22.208 25.653,12.772 31.736,7.960 42.003 L 5.859 46.484 5.859 153.906 L 5.859 261.328 7.960 265.809 C 10.639 271.526,16.308 277.195,22.276 280.125 L 26.953 282.422 66.539 282.644 L 106.125 282.867 105.363 285.379 C 104.143 289.398,104.416 303.709,105.813 308.984 C 114.210 340.684,149.031 355.845,178.906 340.809 L 186.328 337.074 199.443 359.748 C 207.434 373.563,213.844 383.736,215.849 385.784 C 227.030 397.206,247.500 397.266,261.094 385.917 C 265.633 382.128,265.497 381.788,245.398 346.973 C 235.391 329.637,227.498 315.183,227.859 314.853 C 228.900 313.900,243.295 310.363,253.125 308.644 C 270.191 305.661,278.491 305.147,310.156 305.112 L 341.016 305.078 344.700 302.912 C 351.473 298.931,355.251 291.621,354.466 284.016 C 353.957 279.090,352.541 276.257,338.434 251.953 L 327.551 233.203 330.639 229.828 C 347.011 211.933,337.807 181.413,314.453 176.153 L 310.547 175.273 310.156 112.051 C 309.813 56.566,309.612 48.430,308.514 45.579 C 303.530 32.636,294.363 25.789,281.160 25.147 L 274.430 24.819 273.975 19.388 C 273.032 8.144,269.489 5.468,255.549 5.472 C 241.104 5.476,237.509 8.238,237.503 19.336 L 237.500 25.000 223.047 25.000 L 208.594 25.000 208.594 20.169 C 208.594 8.669,204.560 5.469,190.062 5.469 C 175.630 5.469,171.875 8.410,171.875 19.714 L 171.875 25.000 157.422 25.000 L 142.969 25.000 142.966 19.336 C 142.960 7.920,139.364 5.314,124.065 5.635 L 113.363 5.859 110.580 8.559 C 107.430 11.615,106.261 14.950,106.254 20.898 L 106.250 25.000 92.290 25.000 L 78.330 25.000 77.951 19.089 C 77.533 12.579,76.351 10.267,71.883 7.227 C 68.204 4.722,51.069 4.585,47.063 7.027 M64.844 32.813 L 64.844 46.875 59.766 46.875 L 54.688 46.875 54.688 32.813 L 54.688 18.750 59.766 18.750 L 64.844 18.750 64.844 32.813 M129.688 32.813 L 129.688 46.875 124.609 46.875 L 119.531 46.875 119.531 32.813 L 119.531 18.750 124.609 18.750 L 129.688 18.750 129.688 32.813 M195.313 32.813 L 195.313 46.875 190.234 46.875 L 185.156 46.875 185.156 32.813 L 185.156 18.750 190.234 18.750 L 195.313 18.750 195.313 32.813 M260.156 32.813 L 260.156 46.875 255.469 46.875 L 250.781 46.875 250.781 32.813 L 250.781 18.750 255.469 18.750 L 260.156 18.750 260.156 32.813 M41.406 44.806 C 41.406 56.776,44.969 59.766,59.237 59.766 C 73.971 59.766,77.335 57.070,77.982 44.744 L 78.321 38.281 92.285 38.281 L 106.250 38.281 106.250 44.018 C 106.250 56.392,111.215 60.432,125.919 60.021 C 139.385 59.644,142.969 56.446,142.969 44.806 L 142.969 38.281 157.422 38.281 L 171.875 38.281 171.875 44.166 C 171.875 56.290,175.501 59.645,189.001 60.010 C 203.818 60.410,208.555 56.618,208.581 44.336 L 208.594 38.281 222.971 38.281 L 237.349 38.281 237.620 45.661 C 238.055 57.526,242.292 60.599,257.418 60.020 C 269.869 59.543,273.307 56.422,274.023 44.945 L 274.439 38.281 279.047 38.281 C 291.860 38.281,296.875 45.983,296.875 65.663 L 296.875 75.781 157.813 75.781 L 18.750 75.781 18.750 63.250 C 18.750 44.504,23.103 38.396,36.523 38.312 L 41.406 38.281 41.406 44.806 M296.875 132.813 C 296.875 168.061,296.679 176.563,295.865 176.563 C 295.310 176.563,289.260 166.807,282.422 154.883 C 267.008 128.008,263.388 124.219,253.125 124.219 C 243.010 124.219,239.399 127.868,224.910 152.734 C 205.537 185.983,196.339 199.659,183.020 215.021 C 172.665 226.963,169.757 229.170,147.732 241.797 C 124.934 254.867,120.327 258.124,115.084 264.875 L 111.468 269.531 71.725 269.531 C 28.376 269.531,28.768 269.568,23.952 264.998 C 18.355 259.686,18.750 266.667,18.750 173.078 L 18.750 89.063 157.813 89.063 L 296.875 89.063 296.875 132.813 M79.117 112.096 C 75.754 113.558,74.184 116.354,70.802 126.906 L 67.962 135.764 56.788 136.053 C 44.434 136.372,42.669 136.953,39.809 141.644 C 35.816 148.193,38.342 153.253,49.716 161.499 L 57.635 167.240 54.622 176.393 C 49.503 191.945,52.168 199.219,62.986 199.219 C 66.317 199.219,66.181 199.296,79.945 189.582 L 84.190 186.586 92.524 192.630 C 101.906 199.434,105.932 200.635,110.843 198.096 C 117.042 194.890,117.692 189.661,113.545 176.365 C 111.969 171.316,110.826 167.055,111.004 166.898 C 111.182 166.740,113.978 164.720,117.216 162.407 C 128.803 154.134,129.688 153.050,129.688 147.119 C 129.688 138.653,124.863 135.949,109.743 135.942 L 100.346 135.938 97.035 125.905 C 92.438 111.979,87.731 108.351,79.117 112.096 M140.083 112.821 L 137.891 114.705 137.644 128.972 C 137.258 151.350,135.971 150.000,157.691 150.000 C 178.710 150.000,176.875 151.773,177.194 131.156 L 177.435 115.596 175.106 113.267 L 172.776 110.938 157.526 110.938 C 142.534 110.938,142.237 110.970,140.083 112.821 M190.090 111.724 C 187.063 112.944,186.719 114.881,186.719 130.703 C 186.719 144.877,186.826 146.019,188.338 147.942 L 189.957 150.000 206.307 150.000 C 227.673 150.000,225.781 151.892,225.781 130.525 L 225.781 114.176 223.723 112.557 C 221.496 110.805,194.057 110.126,190.090 111.724 M324.504 119.664 C 321.848 120.949,314.844 143.074,314.844 150.175 C 314.844 158.651,325.887 158.378,328.155 149.846 C 328.647 147.997,330.247 142.093,331.712 136.726 C 333.177 131.359,334.375 126.366,334.375 125.630 C 334.375 120.555,329.166 117.406,324.504 119.664 M164.063 130.469 L 164.063 136.719 157.422 136.719 L 150.781 136.719 150.781 130.469 L 150.781 124.219 157.422 124.219 L 164.063 124.219 164.063 130.469 M212.500 130.469 L 212.500 136.719 206.250 136.719 L 200.000 136.719 200.000 130.469 L 200.000 124.219 206.250 124.219 L 212.500 124.219 212.500 130.469 M85.992 135.352 C 89.676 147.746,90.826 148.682,103.019 149.219 L 111.896 149.609 105.556 154.144 C 96.219 160.821,95.141 164.160,98.826 174.995 C 101.276 182.197,101.277 182.196,94.582 177.327 C 85.796 170.937,82.545 170.994,73.194 177.703 C 69.891 180.074,67.188 181.903,67.188 181.768 C 67.188 181.634,68.066 178.940,69.141 175.781 C 72.968 164.529,71.920 161.088,62.541 154.102 L 55.985 149.219 64.516 149.216 C 76.949 149.212,78.417 148.083,82.042 135.742 C 84.196 128.411,83.937 128.436,85.992 135.352 M257.542 140.087 C 259.940 142.522,340.622 282.601,341.151 285.246 C 342.116 290.073,338.196 292.193,328.380 292.151 L 319.922 292.115 280.012 222.825 L 240.103 153.536 244.203 146.558 C 249.666 137.260,253.113 135.587,257.542 140.087 M376.946 159.686 C 372.722 161.515,353.540 172.905,352.564 174.164 C 348.924 178.857,354.454 186.724,359.895 184.590 C 366.754 181.901,384.683 170.468,385.664 168.157 C 388.128 162.356,382.780 157.160,376.946 159.686 M139.864 161.699 C 136.477 165.086,136.413 193.620,139.785 197.205 L 141.679 199.219 157.558 199.219 C 178.840 199.219,177.579 200.593,177.198 177.803 C 176.878 158.649,178.574 160.156,157.335 160.156 C 142.516 160.156,141.299 160.264,139.864 161.699 M267.964 228.906 C 287.417 262.637,303.444 290.437,303.582 290.685 C 303.719 290.933,295.674 291.546,285.705 292.046 C 260.627 293.306,238.587 296.766,224.226 301.697 C 221.867 302.507,219.832 302.896,219.705 302.562 C 219.577 302.227,210.920 287.188,200.467 269.141 L 181.461 236.328 187.840 229.688 C 200.730 216.269,213.347 198.892,227.701 174.783 C 230.202 170.582,232.327 167.242,232.423 167.362 C 232.519 167.481,248.512 195.176,267.964 228.906 M164.063 179.688 L 164.063 185.938 157.422 185.938 L 150.781 185.938 150.781 179.688 L 150.781 173.438 157.422 173.438 L 164.063 173.438 164.063 179.688 M315.656 191.108 C 323.723 195.499,327.511 204.592,324.902 213.301 C 323.929 216.549,320.423 221.150,319.857 219.922 C 319.659 219.492,315.645 212.477,310.937 204.332 C 304.706 193.552,302.639 189.345,303.337 188.865 C 305.013 187.714,311.636 188.920,315.656 191.108 M44.029 209.345 C 40.191 210.948,39.844 212.556,39.844 228.750 L 39.844 243.870 42.173 246.200 L 44.502 248.529 60.122 248.288 C 80.930 247.967,79.297 249.651,79.297 228.516 C 79.297 207.415,80.831 209.042,60.722 208.815 C 52.462 208.722,44.950 208.960,44.029 209.345 M92.578 209.496 C 89.218 211.334,89.063 212.161,89.063 228.210 C 89.063 249.689,87.854 248.438,108.594 248.438 C 129.334 248.438,128.135 249.678,128.100 228.256 C 128.074 212.180,127.911 211.338,124.465 209.503 C 122.209 208.301,94.774 208.295,92.578 209.496 M360.938 218.198 C 356.798 220.292,356.021 226.916,359.638 229.285 C 362.473 231.141,387.605 237.643,389.815 237.091 C 393.146 236.261,394.531 234.434,394.531 230.874 C 394.531 225.857,392.924 224.917,377.304 220.801 C 361.532 216.645,363.417 216.944,360.938 218.198 M66.406 228.516 L 66.406 235.156 59.766 235.156 L 53.125 235.156 53.125 228.516 L 53.125 221.875 59.766 221.875 L 66.406 221.875 66.406 228.516 M114.844 228.516 L 114.844 235.156 108.594 235.156 L 102.344 235.156 102.344 228.516 L 102.344 221.875 108.594 221.875 L 114.844 221.875 114.844 228.516 M188.867 276.106 C 198.857 293.456,207.031 307.994,207.031 308.413 C 207.031 309.420,173.559 328.713,167.685 331.091 C 131.050 345.926,100.828 297.166,129.454 269.412 C 132.491 266.467,168.546 244.534,170.313 244.556 C 170.527 244.559,178.877 258.757,188.867 276.106 M231.145 349.364 C 240.226 365.127,247.656 378.185,247.656 378.381 C 247.656 381.087,235.058 381.946,230.029 379.583 C 225.047 377.241,225.609 378.068,206.472 344.881 L 197.890 329.997 206.171 325.241 C 210.726 322.625,214.494 320.534,214.544 320.594 C 214.594 320.654,222.064 333.600,231.145 349.364 "
                            stroke="none" fill="currentColor" fill-rule="evenodd"></path>
                    </g>
                </svg>
            </div>
        </div>
        @* <svg class="absolute size-16" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
            <path fill="#FF8C42"
                d="M32.6,-50.4C46,-42.1,63.1,-39.4,74.4,-29.6C85.7,-19.8,91,-3,83.5,8.2C75.9,19.3,55.4,24.7,42.7,34.1C30.1,43.5,25.4,56.9,17.3,59.4C9.3,61.8,-1.9,53.4,-10.1,45.8C-18.3,38.2,-23.4,31.5,-34.5,25.9C-45.5,20.3,-62.6,15.9,-64.7,8.7C-66.7,1.4,-53.7,-8.6,-43.8,-15.8C-34,-23.1,-27.3,-27.6,-20.5,-38.9C-13.7,-50.3,-6.9,-68.5,1.4,-70.6C9.6,-72.7,19.2,-58.8,32.6,-50.4Z"
                transform="translate(100 100)" />
        </svg>

        <svg class="absolute size-32 top-0 end-16" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
            <path fill="#FF8C42"
                d="M33.6,-36.5C45.9,-21.4,59.6,-10.7,63.9,4.3C68.2,19.2,63,38.5,50.7,48.4C38.5,58.2,19.2,58.7,3,55.7C-13.2,52.6,-26.3,46.1,-39.4,36.2C-52.5,26.3,-65.5,13.2,-67.6,-2.1C-69.7,-17.4,-61,-34.9,-47.9,-50C-34.9,-65.2,-17.4,-78,-3.4,-74.6C10.7,-71.3,21.4,-51.7,33.6,-36.5Z"
                transform="translate(100 100)" />
        </svg> *@
    </section>


</div>


<footer
    class="sticky bottom-0 flex items-center justify-center gap-4 py-4 bg-coffee-900 text-coffee-50 text-xs font-light">
    <span class="">
        &copy; 2025 Schedify, Inc.
    </span>
    <span class="">
        <a href="https://github.com/Jiysea/Schedify"
            class="duration-200 ease-in-out flex items-center justify-center rounded-full size-10 p-2 text-coffee-50 hover:bg-coffee-700 active:bg-coffee-800">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" viewBox="0 0 256 256">
                <path
                    d="M216,104v8a56.06,56.06,0,0,1-48.44,55.47A39.8,39.8,0,0,1,176,192v40a8,8,0,0,1-8,8H104a8,8,0,0,1-8-8V216H72a40,40,0,0,1-40-40A24,24,0,0,0,8,152a8,8,0,0,1,0-16,40,40,0,0,1,40,40,24,24,0,0,0,24,24H96v-8a39.8,39.8,0,0,1,8.44-24.53A56.06,56.06,0,0,1,56,112v-8a58.14,58.14,0,0,1,7.69-28.32A59.78,59.78,0,0,1,69.07,28,8,8,0,0,1,76,24a59.75,59.75,0,0,1,48,24h24a59.75,59.75,0,0,1,48-24,8,8,0,0,1,6.93,4,59.74,59.74,0,0,1,5.37,47.68A58,58,0,0,1,216,104Z">
                </path>
            </svg>
        </a>
    </span>
</footer>