@model BookingsViewModel

@{
    ViewData["Title"] = "My Bookings";
}


<div x-data="{ viewBookingModal: false, createFeedbackModal: false, updateFeedbackModal: false }" class="min-h-screen bg-[#F9FBFA]">

    @* Main Header & Avatar *@
    <partial name="~/Views/Attendee/Partials/_TopbarPartial.cshtml" />

    <header class="flex flex-col items-center w-full h-[8vh]">
        @* Sub Header (Your Bookings, Search) *@
        <div class="flex items-center w-full p-4 border-b-2 gap-3 border-zinc-100">

            @* 1st Col *@
            <div class="flex items-center gap-3">
                <span class="flex items-center justify-center bg-pumpkin-500 text-pumpkin-50 p-1 size-8 rounded-lg">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                        viewBox="0 0 256 256">
                        <path
                            d="M208,24H72A32,32,0,0,0,40,56V224a8,8,0,0,0,8,8H192a8,8,0,0,0,0-16H56a16,16,0,0,1,16-16H208a8,8,0,0,0,8-8V32A8,8,0,0,0,208,24ZM120,40h48v72L148.79,97.6a8,8,0,0,0-9.6,0L120,112Zm80,144H72a31.82,31.82,0,0,0-16,4.29V56A16,16,0,0,1,72,40h32v88a8,8,0,0,0,12.8,6.4L144,114l27.21,20.4A8,8,0,0,0,176,136a8,8,0,0,0,8-8V40h16Z">
                        </path>
                    </svg>
                </span>
                <h2 class="font-semibold text-2xl text-coffee-900">Your Bookings</h2>
            </div>

            @* 2nd Col *@
            <div class="flex items-center gap-3">
                @* Search??? *@
            </div>
        </div>
    </header>

    @* Bookings List Bars *@
    <main class="h-[80vh]">
        <div id="events-list"
            class="relative p-4 overflow-y-auto h-full scrollbar-thin scrollbar-track-transparent scrollbar-thumb-coffee-700">
            @await Html.PartialAsync("~/Views/Attendee/Partials/_BookingsListPartial.cshtml", Model)
        </div>
    </main>

    <div id="all-modals">
        @* View Bookings *@
        @await Html.PartialAsync("~/Views/Attendee/Partials/ViewBookingModal.cshtml", Model.ViewBookingViewModel)

        @* Create Feedback *@
        @await Html.PartialAsync("~/Views/Attendee/Partials/CreateFeedbackModal.cshtml", Model.FeedbackViewModel)

        @* Update Feedback *@
        @await Html.PartialAsync("~/Views/Attendee/Partials/UpdateFeedbackModal.cshtml", Model.FeedbackViewModel)
    </div>

</div>
