@model BookingViewModel

@{
    ViewData["Title"] = "My Bookings";
}

<partial name="~/Views/Attendee/Partials/_TopbarPartial.cshtml" />

<div x-data="{viewEventModal: false}" class="min-h-screen bg-[#F9FBFA]">
    <header class="flex flex-col items-center w-full h-[8vh]">

    </header>

    <main>
        
    </main>
</div>
