@model EventsViewModel

@{
    ViewData["Title"] = "Events";
    var firstDate = new DateTime(DateTime.UtcNow.Year, 1, 1);
    var currentDate = DateTime.UtcNow;
    var firstFormatted = firstDate.ToString("MM-dd-YYYY");
    var currentFormatted = currentDate.ToString("MM-dd-YYYY");
}

<partial name="~/Views/Attendee/Partials/_TopbarPartial.cshtml" />

<div x-data="{viewEventModal: false}" class="min-h-screen bg-[#F9FBFA]">
    <header class="flex flex-col items-center w-full h-[8vh]">

        @* Sub Header (My Events, Date Range, Filter, & Create New Event Button) *@
        <div class="flex items-center w-full p-4 border-b-2 gap-3 border-zinc-100">
            <div class="flex items-center gap-3">
                <span class="flex items-center justify-center bg-pumpkin-500 text-pumpkin-50 p-1 size-8 rounded-lg">
                    <svg class="" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                        viewBox="0 0 256 256">
                        <path
                            d="M208,32H184V24a8,8,0,0,0-16,0v8H88V24a8,8,0,0,0-16,0v8H48A16,16,0,0,0,32,48V208a16,16,0,0,0,16,16H208a16,16,0,0,0,16-16V48A16,16,0,0,0,208,32ZM72,48v8a8,8,0,0,0,16,0V48h80v8a8,8,0,0,0,16,0V48h24V80H48V48ZM208,208H48V96H208V208Zm-64-56a16,16,0,1,1-16-16A16,16,0,0,1,144,152Z">
                        </path>
                    </svg>
                </span>
                <h2 class="font-semibold text-2xl text-coffee-900">List of Events</h2>
                <span class="rounded bg-zinc-300 text-zinc-700 px-2">
                    @* @Model.EventsCount *@
                </span>
            </div>
        </div>
    </header>

    @* Events List Bars *@
    <main>
        <div id="events-list"
            class="flex flex-col gap-3 p-4 my-4 overflow-y-auto min-h-[80vh] max-h-[80vh] scrollbar-thin scrollbar-track-transparent scrollbar-thumb-coffee-700">

            @await Html.PartialAsync("~/Views/Attendee/Partials/_EventsListPartial.cshtml", Model)
        </div>
    </main>

    @* View Events *@
    @await Html.PartialAsync("~/Views/Organizer/Partials/ViewEventModal.cshtml", Model.ViewEventViewModel)
</div>