@model EventsViewModel

<div id="events-list" hx-swap-oob="innerHTML">
    @await Html.PartialAsync("~/Views/Organizer/Partials/_EventsListPartial.cshtml", Model)
</div>

<div id="all-modals" hx-swap-oob="true">

    @* Create Events *@ 
    @await Html.PartialAsync("~/Views/Organizer/Partials/CreateEventModal.cshtml", new CUEventViewModel())

    @* View, Update & Delete Events *@
    @await Html.PartialAsync("~/Views/Organizer/Partials/ViewEventModal.cshtml", new ViewEventViewModel())

</div>