@model CUResourceViewModel

<header class="flex items-center justify-between text-lg font-medium py-3 px-4">
    <h1 class="text-coffee-900">Edit Resource</h1>
    <button x-on:click="viewResourceModal = false"
        class="flex items-center justify-center size-8 p-1 rounded-md text-coffee-500 hover:bg-coffee-100 active:bg-coffee-200 hover:text-coffee-700 active:text-coffee-900 duration-200 ease-in-out">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" viewBox="0 0 256 256">
            <path
                d="M205.66,194.34a8,8,0,0,1-11.32,11.32L128,139.31,61.66,205.66a8,8,0,0,1-11.32-11.32L116.69,128,50.34,61.66A8,8,0,0,1,61.66,50.34L128,116.69l66.34-66.35a8,8,0,0,1,11.32,11.32L139.31,128Z">
            </path>
        </svg>
    </button>
</header>

<hr class="w-full border-coffee-100">

<main class="flex flex-col gap-10 p-6 relative">
    <form hx-post="/organizer/update-resource" hx-swap="none" enctype="multipart/form-data">
        @* Body *@
        <div x-data="{ showQuantity: false }" class="flex flex-col gap-10">

            <input type="hidden" asp-for="Id">
            <input type="hidden" asp-for="EventId">
            <input type="hidden" asp-for="ImageFileName">

            @* Type of Resource *@
            <div class="relative grid grid-cols-2 gap-3 p-5 border rounded-xl border-coffee-300">
                <h2
                    class="absolute flex items-center gap-2 start-4 -top-3 text-sm font-medium text-pumpkin-600 bg-coffee-50 px-2">
                    <svg class="size-5" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                        viewBox="0 0 256 256">
                        <path
                            d="M223.68,66.15,135.68,18a15.88,15.88,0,0,0-15.36,0l-88,48.17a16,16,0,0,0-8.32,14v95.64a16,16,0,0,0,8.32,14l88,48.17a15.88,15.88,0,0,0,15.36,0l88-48.17a16,16,0,0,0,8.32-14V80.18A16,16,0,0,0,223.68,66.15ZM128,32l80.34,44-29.77,16.3-80.35-44ZM128,120,47.66,76l33.9-18.56,80.34,44ZM40,90l80,43.78v85.79L40,175.82Zm176,85.78h0l-80,43.79V133.82l32-17.51V152a8,8,0,0,0,16,0V107.55L216,90v85.77Z">
                        </path>
                    </svg>
                    Resource Information
                </h2>

                @* Type of Resource *@
                <div class="flex flex-col col-span-2 gap-1 relative">
                    <label for="edit-type" class="text-xs text-coffee-700">Type of Resource</label>
                    <select class="input-coffee p-2" id="edit-type" asp-for="ResourceType"
                        hx-get="/organizer/select-resource-type" hx-target="#edit-resource-type" hx-swap="innerHTML"
                        hx-trigger="change" hx-vals='js:{"selectedOption": event.target.value}'
                        asp-items="ViewBag.ResourceTypes">
                    </select>
                </div>

                @* Provider Name *@
                <div class="flex flex-col col-span-2 gap-1 relative">
                    <label for="edit-name" class="text-xs text-coffee-700">Provider Name</label>
                    <input type="text" autofocus class="input-coffee p-2" id="edit-providername" asp-for="ProviderName"
                        placeholder="Type name here" />
                    <div id="edit-validation-ProviderName">
                    </div>
                </div>

                @* Provider Phone Number *@
                <div class="flex flex-col gap-1 relative">
                    <label for="edit-name" class="text-xs text-coffee-700">Provider Phone Number</label>
                    <input type="text" maxlength="11" autofocus class="input-coffee p-2" id="edit-providerphonenumber"
                        asp-for="ProviderPhoneNumber" placeholder="ex. 09123456789" />
                    <div id="edit-validation-ProviderPhoneNumber">
                    </div>
                </div>

                @* Provider Email *@
                <div class="flex flex-col gap-1 relative">
                    <label for="edit-name" class="text-xs text-coffee-700">Provider Email</label>
                    <input type="text" autofocus class="input-coffee p-2" id="edit-provideremail" asp-for="ProviderEmail"
                        placeholder="Type email here" />
                    <div id="edit-validation-ProviderEmail">
                    </div>
                </div>
            </div>

            @* General Information *@
            <div class="relative grid grid-cols-5 gap-3 p-5 border rounded-xl border-coffee-300">
                <span
                    class="absolute flex items-center gap-2 start-4 -top-3 text-sm font-medium text-pumpkin-600 bg-coffee-50 px-2">
                    <svg class="size-5" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                        viewBox="0 0 256 256">
                        <path
                            d="M213.66,66.34l-40-40A8,8,0,0,0,168,24H88A16,16,0,0,0,72,40V56H56A16,16,0,0,0,40,72V216a16,16,0,0,0,16,16H168a16,16,0,0,0,16-16V200h16a16,16,0,0,0,16-16V72A8,8,0,0,0,213.66,66.34ZM168,216H56V72h76.69L168,107.31v84.53c0,.06,0,.11,0,.16s0,.1,0,.16V216Zm32-32H184V104a8,8,0,0,0-2.34-5.66l-40-40A8,8,0,0,0,136,56H88V40h76.69L200,75.31Zm-56-32a8,8,0,0,1-8,8H88a8,8,0,0,1,0-16h48A8,8,0,0,1,144,152Zm0,32a8,8,0,0,1-8,8H88a8,8,0,0,1,0-16h48A8,8,0,0,1,144,184Z">
                        </path>
                    </svg>
                    General Information
                </span>

                @* Resource Image *@
                <div x-data="{ previewUrl: null }" class="flex flex-col col-span-full gap-1 relative w-full">
                    <p class="text-xs text-coffee-700">Resource Image</p>
                    <label for="edit-image"
                        class="flex items-center justify-center relative text-xs border-2 border-dashed border-coffee-500 bg-coffee-200 rounded-lg min-h-40 max-h-40 text-coffee-700 cursor-pointer">
                        <input type="file" class="hidden absolute inset-0" id="edit-image" asp-for="ImageFile"
                            accept="image/*" x-on:change="previewUrl = URL.createObjectURL($event.target.files[0])" />
                        <template x-if="previewUrl">
                            <img :src="previewUrl" alt="Preview" class="h-36 object-cover rounded-md">
                        </template>
                        <template x-if="!previewUrl">
                            @if (!string.IsNullOrEmpty(Model.ImageFileName))
                            {
                                <img src="@Url.Content("~/resources/" + Model.ImageFileName)" alt="Preview"
                                    class="h-36 object-cover rounded-md">
                            }
                            else
                            {
                                <div class="flex flex-col items-center justify-center gap-1">
                                    <svg class="size-8" xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                                        fill="currentColor" viewBox="0 0 256 256">
                                        <path
                                            d="M224,144v64a8,8,0,0,1-8,8H40a8,8,0,0,1-8-8V144a8,8,0,0,1,16,0v56H208V144a8,8,0,0,1,16,0ZM93.66,77.66,120,51.31V144a8,8,0,0,0,16,0V51.31l26.34,26.35a8,8,0,0,0,11.32-11.32l-40-40a8,8,0,0,0-11.32,0l-40,40A8,8,0,0,0,93.66,77.66Z">
                                        </path>
                                    </svg>
                                    <span>Click to upload an image</span>
                                    <span>Max size 5MB (png, jpg, jpeg)</span>
                                </div>
                            }
                        </template>
                    </label>
                    <div id="edit-validation-ImageFile">
                    </div>
                </div>

                @* Resource Name *@
                <div class="flex flex-col col-span-2 gap-1 relative">
                    <label for="edit-name" class="text-xs text-coffee-700">Resource Name</label>
                    <input type="text" class="input-coffee p-2" id="edit-name" asp-for="Name" placeholder="Type name here" />
                    <div id="edit-validation-Name">
                    </div>
                </div>

                @* Cost *@
                <div class="flex flex-col gap-1 relative">
                    <label for="edit-costasstring" class="text-xs text-coffee-700">Cost</label>
                    <input type="text" x-mask:dynamic="$money($input)" class="input-coffee p-2" id="edit-costasstring"
                        asp-for="CostAsString" placeholder="Type cost here" />
                    <div id="edit-validation-CostAsString">
                    </div>
                </div>

                @* Cost Type *@
                <div class="flex flex-col gap-1 relative" :class="{ 'col-span-2': (!showQuantity) }">
                    <label for="edit-costtype" class="text-xs text-coffee-700">Type of Cost</label>
                    <select class="input-coffee p-2" id="edit-costtype" name="CostType" asp-for="CostType"
                        data-saved="@Model.CostType"
                        hx-get="/organizer/cost-types" hx-trigger="load, change from:#edit-type" hx-swap="innerHTML"
                        hx-vals='js:{"selectedOption": document.getElementById("edit-type")?.value || "Equipment", "savedCostType": document.getElementById("edit-costtype")?.dataset.saved }' hx-target="#edit-costtype">
                    </select>
                    <div id="edit-validation-CostType">
                    </div>
                </div>

                @* Description *@
                <div class="col-span-full flex flex-col gap-1 relative w-full">
                    <label for="edit-description" class="text-xs text-coffee-700">Description</label>
                    <textarea id="edit-description" class="input-coffee p-2" maxlength="300" rows="3" asp-for="Description"
                        style="resize: none;" placeholder="Describe anything about this resource."></textarea>
                    <div id="edit-validation-Description">
                    </div>
                </div>
            </div>

            <div id="edit-resource-type" class="relative grid grid-cols-5 gap-3 p-5 border rounded-xl border-coffee-300">
                @await Html.PartialAsync("_SelectResourceTypeEditPartial", Model)
            </div>
        </div>

        @* Footer *@
        <div class="mt-4 flex items-center justify-center gap-2 w-full py-3 px-4">
            <button type="submit"
                class="flex flex-1 justify-center items-center px-3 duration-200 ease-in-out text-sm py-2 font-medium text-coffee-50 bg-coffee-700 hover:bg-coffee-800 active:bg-coffee-900 rounded-md">
                Save
            </button>

            <button type="button" hx-get="/organizer/view-resource/@Model.Id" hx-target="#viewResourceModalContent" hx-swap="innerHTML"
                class="flex justify-center items-center px-3 duration-200 ease-in-out text-sm py-2 font-medium text-coffee-50 bg-coffee-700 hover:bg-coffee-800 active:bg-coffee-900 rounded-md">
                Cancel
            </button>
        </div>
    </form>
</main>
