@model CreateEventViewModel

<div x-cloak x-show="createEventModal"
    class="fixed inset-0 flex justify-center items-start bg-black/50 backdrop-blur-sm overflow-y-auto scrollbar-thin scrollbar-track-transparent scrollbar-thumb-coffee-700 z-50 p-4">

    @* White Box *@
    <div x-data x-trap="createEventModal" @@keydown.escape="createEventModal = false;"
        class="bg-coffee-50 rounded-lg shadow-lg">

        @* Top Header *@
        <header class="flex items-center justify-between text-lg font-medium py-3 px-4">
            <h1 class="text-coffee-900">Create New Event</h1>
            <button x-on:click="createEventModal = false"
                class="flex items-center justify-center size-8 p-1 rounded-md text-zinc-500 hover:bg-coffee-100 active:bg-coffee-200 hover:text-coffee-700 active:text-coffee-900 duration-200 ease-in-out">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                    viewBox="0 0 256 256">
                    <path
                        d="M205.66,194.34a8,8,0,0,1-11.32,11.32L128,139.31,61.66,205.66a8,8,0,0,1-11.32-11.32L116.69,128,50.34,61.66A8,8,0,0,1,61.66,50.34L128,116.69l66.34-66.35a8,8,0,0,1,11.32,11.32L139.31,128Z">
                    </path>
                </svg>
            </button>
        </header>

        <hr class="w-full border-coffee-100">

        <main>
            <form action="post" hx-post="/organizer/create-event" hx-swap="none">

                @* Body *@
                <div x-data="{ showQuantity: false }" class="flex flex-col gap-10 px-6 py-10">

                    @* General Information *@
                    <div class="relative grid grid-cols-6 gap-3 p-5 border-2 rounded-xl border-coffee-300">
                        <span
                            class="select-none flex items-center gap-2 absolute start-4 -top-3 px-2 font-medium text-sm text-pumpkin-600 bg-coffee-50">
                            <svg class="size-6" xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                                fill="currentColor" viewBox="0 0 256 256">
                                <path
                                    d="M214.61,198.62a32,32,0,1,0-45.23,0,40,40,0,0,0-17.11,23.32,8,8,0,0,0,5.67,9.79A8.15,8.15,0,0,0,160,232a8,8,0,0,0,7.73-5.95C170.56,215.42,180.54,208,192,208s21.44,7.42,24.27,18.05a8,8,0,1,0,15.46-4.11A40,40,0,0,0,214.61,198.62ZM192,160a16,16,0,1,1-16,16A16,16,0,0,1,192,160Zm24-88H131.31L104,44.69A15.86,15.86,0,0,0,92.69,40H40A16,16,0,0,0,24,56V200.61A15.4,15.4,0,0,0,39.38,216h81.18a8,8,0,0,0,0-16H40V88H216v32a8,8,0,0,0,16,0V88A16,16,0,0,0,216,72ZM92.69,56l16,16H40V56Z">
                                </path>
                            </svg>
                            General Information
                        </span>


                        @* Event Name *@
                        <div class="flex flex-col col-span-full gap-1 relative">
                            <label for="name" class="text-xs text-coffee-900">Event Name</label>
                            <input type="text" autocomplete="off" maxlength="100" autofocus class="input-coffee p-2" id="name"
                                asp-for="Name" placeholder="Type event name here" />

                            <div id="validation-Name">
                            </div>
                        </div>

                        @* Description *@
                        <div class="flex flex-col col-span-full gap-1 relative">
                            <label for="description" class="text-xs text-coffee-900">Description</label>
                            <textarea type="text" autocomplete="off" autofocus class="input-coffee p-2 scrollbar-thin"
                                maxlength="500" rows="3" id="description" style="resize: none;" asp-for="Description"
                                placeholder="Describe what kind of event this will be or how your attendees are going to enjoy this." ></textarea>

                            <div id="validation-Description">
                            </div>
                        </div>

                        @* Entry Fee *@
                        <div class="flex flex-col col-span-2 gap-1 relative">
                            <label for="entryfee" class="text-xs text-coffee-900">Entry Fee</label>
                            <input type="text" x-mask:dynamic="$money($input)" autocomplete="off" autofocus
                                class="input-coffee p-2" id="entryfee" asp-for="EntryFee" placeholder="Type fee here" />

                            <div id="validation-EntryFee">
                            </div>
                        </div>

                        @* Event Duration *@
                        <div class="flex flex-col col-span-4 gap-1 relative w-full">
                            <p for="shift" class="text-xs text-coffee-900">Event Duration</p>
                            <span class="flex items-center gap-2 w-full">
                                <div class="flex flex-col gap-1">
                                    <span class="flex items-start gap-2 w-full">
                                        <label for="startat" class="text-xs text-coffee-500 whitespace-nowrap">Start At</label>
                                        <input type="text" class="input-coffee p-2" id="startat"
                                            asp-for="StartAt" placeholder="Select a start time" />
                                    </span>
                                    <div id="validation-StartAt">
                                    </div>
                                </div>
                                <div class="flex flex-col gap-1">
                                    <span class="flex items-start gap-2 w-full">
                                        <label for="endat" class="text-xs text-coffee-500 whitespace-nowrap">End At</label>
                                        <input type="text" class="input-coffee p-2" id="endat"
                                            asp-for="EndAt" placeholder="Select an end time" />
                                    </span>
                                    <div id="validation-EndAt">
                                    </div>
                                </div>
                            </span>
                            
                        </div>

                        <script>
                            document.addEventListener("DOMContentLoaded", () => {
                                let startPicker = flatpickr("#startat", {
                                    enableTime: true,
                                    dateFormat: "Y-m-d H:i",
                                    defaultDate: new Date().fp_incr(1),
                                    minDate: new Date().fp_incr(1), // Tomorrow
                                    onChange: function (selectedDates) {
                                        if (selectedDates.length > 0) {
                                            endPicker.set("minDate", selectedDates[0]); // Set end date min to start date
                                        }
                                    }
                                });

                                let endPicker = flatpickr("#endat", {
                                    enableTime: true,
                                    dateFormat: "Y-m-d H:i",
                                    minDate: new Date().fp_incr(1), // Tomorrow
                                    defaultDate: new Date().fp_incr(1), // Tomorrow
                                });
                            });
                        </script>

                    </div>
                </div>

                @* Footer *@
                <div class="mt-4 flex items-center justify-center gap-2 w-full py-3 px-4">
                    <button type="submit"
                        class="duration-200 ease-in-out text-sm py-2 w-full font-medium text-coffee-50 bg-coffee-700 hover:bg-coffee-800 active:bg-coffee-900 rounded-md">
                        Save
                    </button>
                </div>
            </form>
        </main>
    </div>
</div>