@model ViewEventViewModel

<div x-cloak x-show="viewEventModal" x-transition.opacity
    class="fixed inset-0 flex justify-center items-start bg-black/50 backdrop-blur-sm overflow-y-auto scrollbar-thin scrollbar-track-transparent scrollbar-thumb-coffee-700 z-50 p-4">
    @* White Box *@
    <div id="eventViewContent" x-data x-trap="viewEventModal" @@keydown.escape="viewEventModal = false;"
        class="bg-coffee-50 rounded-lg shadow-lg min-w-[32rem] max-w-[32rem]">
        
        
         @* The Partials will be swapped here *@
         @await Html.PartialAsync("~/Views/Organizer/Partials/_ViewEventPartial.cshtml", Model);

    </div>
</div>