@model ResourceType

@if (Model == ResourceType.Venue)
{
    <option value="PerHour">Per Hour</option>
    <option value="PerDay">Per Day</option>
    <option value="FixedRate">Fixed Rate</option>
}
else if (Model == ResourceType.Equipment)
{
    <option value="PerUnit">Per Unit</option>
    <option value="InBulk">In Bulk</option>
}
else if (Model == ResourceType.Furniture)
{
    <option value="PerUnit">Per Unit</option>
    <option value="InBulk">In Bulk</option>
}
else if (Model == ResourceType.Catering)
{
    <option value="PerServing">Per Serving</option>
    <option value="InBulk">In Bulk</option>
}
else if (Model == ResourceType.Personnel)
{
    <option value="PerHour">Per Hour</option>
    <option value="PerDay">Per Day</option>
    <option value="PerHead">Per Head</option>
    <option value="FixedRate">Fixed Rate</option>
}