@* Edit Form *@
<form action="post">


    <button type="submit"
        class="px-4 py-2 rounded-md text-sm font-medium bg-coffee-700 hover:bg-coffee-800 active:bg-coffee-900 text-coffee-50">
        Add
    </button>
</form>