<div class="absolute start-0 top-0 w-24 h-full bg-coffee-900 text-white p-4">
    <ul>
        <li><a href="/Admin/Dashboard">Dashboard</a></li>
        <li><a href="/Admin/Users">Users</a></li>
        <li><a href="/Admin/Settings">Settings</a></li>
    </ul>
</div>